# TypeScript/Node
node_modules/
client/dist/
public/dist/

# Go
# Binaries produced by 'go build'
server/server
internal/internal
*.exe
*.test

# Environment and Logs
.env
*.log

# MacOS specific
.DS_Store

# Misc
gitignore_assets/
